 body {
            font-family: Arial, sans-serif; /* Match the font family from your form page */
            background-color: aliceblue; /* Background color */
            color: #333; /* Text color */
            
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Center vertically */
            margin: 0; /* Remove default margin */
            text-align: center; /* Center text */
            display: flex;
        }

        h1 {
            font-size: 2.5em; /* Adjust font size */
            margin-bottom: 20px; /* Space below the heading */
            color: #4CAF50; /* Example success color, you can change it */
        }

        a { 
           
            text-decoration: none; /* Remove underline */
            background-color: #4CAF50; /* Match button color */
            color: white; /* Text color */
            padding: 10px 20px; /* Padding around the text */
            border-radius: 5px; /* Rounded corners */
            font-size: 1.2em; /* Button font size */
            margin-left: 50px;
            transition: background-color 0.3s; /* Smooth background transition */
        }

        a:hover {
            background-color: #3c83ff; /* Darker shade on hover */
        }
        .buttons {
            display: flex;
            margin-left: -30px;
        }

        /* Header styling */
.Header {
    background-color: rgb(108, 108, 255);
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-left: -50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position:fixed ;
    top: 0;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.Header h1 {
    margin: 0;
    margin-left: 20px;
    color: #fff;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color:rgb(108, 108, 255);
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}
@media (max-width: 768px) {
    .Header {
        font-size: 20px;
        width: 100%;
    }
    .Header h1 {
        margin-left: 50px;
    }
    a { 
           
        text-decoration: none; /* Remove underline */
        background-color: #4CAF50; /* Match button color */
        color: white; /* Text color */
        padding: 10px 20px; /* Padding around the text */
        border-radius: 5px; /* Rounded corners */
        font-size: 0.8em; /* Button font size */
        margin-left: 50px;
        transition: background-color 0.3s; /* Smooth background transition */
    }
    h1 {
        font-size: 2em; /* Adjust font size */
        margin-bottom: 20px; /* Space below the heading */
        color: #4CAF50; /* Example success color, you can change it */
    }
}
